
@model ViewModel.UserViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<html lang="en">
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link href="~/assets/css/jquery-confirm.css" rel="stylesheet" />


    <!-- Plugins css -->
    <link href="~/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />
    <!-- icons -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- Head js -->
    <script src="~/assets/js/head.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/assets/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/assets/js/moment.js"></script>
</head>
<body class="auth-fluid-pages pb-0">

    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                    @*<form class="mx-1 mx-md-4">*@
                                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                                <label class="form-label" for="form3Example1c">First Name</label>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })

                                                <label class="form-label" for="form3Example1c">Last Name</label>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })

                                                <label class="form-label" for="form3Example3c">Your Email</label>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })

                                                <label class="form-label" for="form3Example4c">Password</label>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })

                                                <label class="form-label" for="form3Example4cd">User Name</label>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })

                                                <label class="form-label" for="form3Example4cd">Address</label>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })

                                                <label class="form-label" for="form3Example4cd">Phone Number</label>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check-input" })Active
                                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                        </div>


                                            <div class="form-check d-flex justify-content-center mb-5">
                                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                                                <label class="form-check-label" for="form2Example3">
                                                    I agree all statements in <a href="#!">Terms of service</a>
                                                </label>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <button type="submit" class="btn btn-primary"> Register </button>

                                                </div>
                                            </div>
                                            }
                                            @*</form>*@

                                        </div>
                                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                                 class="img-fluid" alt="Sample image">

                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/assets/libs/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/assets/libs/datatables.net/node_modules/jquery/jquery.min.js"></script>*@
    <!-- Vendor js -->
    <script src="~/assets/js/vendor.min.js"></script>


    <!-- Plugins js-->
    <script src="~/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <script src="assets/libs/selectize/js/standalone/selectize.min.js"></script>

    <!-- Dashboar 1 init js-->
    <script src="~/assets/js/pages/dashboard-1.init.js"></script>

    <!-- App js-->
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/jquery-confirm.js"></script>
    <script src="~/assets/js/CommonUI.js"></script>

    <script>
        function ShowError(msg) {
            alert(msg)
        }
    </script>
</body>

<!-- Section: Design Block -->
</html>


