<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mvc Movie</title>
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="~/assets/css/jquery-confirm.css" rel="stylesheet" />
    <link href="~/assets/css/popup.css" rel="stylesheet" />

    <!-- Add the jQuery script from the Telerik CDN: -->
    <script src="https://kendo.cdn.telerik.com/2023.2.829/js/jquery.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="~/Content/jquery-confirm.css" rel="stylesheet" />

    <!-- Plugins css -->
    <link href="~/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />

    <!-- Plugins css -->
    <link href="~/assets/libs/mohithg-switchery/switchery.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />
    <!-- icons -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- Head js -->
    <script src="~/assets/js/head.js"></script>

    <!-- Add the Kendo SASS Bootstrap theme: -->
    <link href="https://kendo.cdn.telerik.com/themes/6.7.0/bootstrap/bootstrap-main.css" rel="stylesheet" type="text/css" />

    <!-- Add the Kendo UI scripts: -->
    <script src="https://kendo.cdn.telerik.com/2023.2.829/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/js/kendo.aspnetmvc.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="~/assets/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script src="~/assets/js/moment.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body data-layout-mode="default" data-theme="light" data-layout-width="fluid" data-topbar-color="dark" data-menu-position="fixed" data-leftbar-color="light" data-leftbar-size='default' data-sidebar-user='false'>
    <div id="wrapper">

        <!-- Topbar Start -->
        <div class="navbar-custom">
            <div class="container-fluid">
                <ul class="list-unstyled topnav-menu float-end mb-0">

                    <!--<li class="dropdown notification-list topbar-dropdown">
                        <a class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">-->
                            <!-- You can add an alternative user icon here -->
                            <!--<span class="pro-user-name ms-1">
                                User <i class="mdi mdi-chevron-down"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end profile-dropdown ">-->
                            <!-- item-->
                            <!--<div class="dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Welcome !</h6>
                            </div>-->

                            <!-- item-->
                            <!--<a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fe-user me-1"></i>
                                <span>My Account</span>
                            </a>-->

                            <!-- item-->
                            <!--<a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fe-settings me-1"></i>
                                <span>Settings</span>
                            </a>-->

                            <!-- item-->
                            <!--<a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fe-lock me-1"></i>
                                <span>Lock Screen</span>
                            </a>

                            <div class="dropdown-divider"></div>-->

                            <!-- item-->
                            <!--<a href="/Account/LogOut" class="dropdown-item notify-item">
                                <i class="fe-log-out"></i>
                                <span>Logout</span>
                            </a>

                        </div>
                    </li>-->

                </ul>

                <!-- LOGO -->
                <div class="logo-box">
                    <a href="index.html" class="logo logo-dark text-center">
                        <span class="logo-sm">
                            <img src="~/assets/images/logo_tkd.png" alt="" height="40">
                        </span>
                        <span class="logo-lg">
                            <img src="~/assets/images/logo_taekwondo_new.png" alt="" height="60">
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light text-center">
                        <span class="logo-sm">
                            <img src="~/assets/images/logo_tkd.png" alt="" height="40">
                        </span>
                        <span class="logo-lg">
                            <img src="~/assets/images/logo_taekwondo_new.png" alt="" height="60">
                        </span>
                    </a>
                </div>

                <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                    <li>
                        <button class="button-menu-mobile waves-effect waves-light">
                            <i class="fe-menu"></i>
                        </button>
                    </li>

                    <li>
                        <a class="navbar-toggle nav-link" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end Topbar -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">
            <div class="h-100" data-simplebar>

                <!-- User box -->
                <div class="user-box text-center">
                    <!-- You can add an alternative user icon here -->
                    <div class="dropdown">
                        <a href="javascript: void(0);" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block"
                           data-bs-toggle="dropdown">User</a>
                        <div class="dropdown-menu user-pro-dropdown">

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fe-user me-1"></i>
                                <span>My Account</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fe-settings me-1"></i>
                                <span>Settings</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fe-lock me-1"></i>
                                <span>Lock Screen</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fe-log-out me-1"></i>
                                <span>Logout</span>
                            </a>

                        </div>
                    </div>
                    <p class="text-muted">Admin Head</p>
                </div>

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <ul id="side-menu">
                        <li id="MainMenuMovie">
                            <a href="#sidebarMovie" data-bs-toggle="collapse">
                                <i class="fa fa-cube"></i>
                                <span> Movie </span>
                            </a>
                            <div class="collapse" id="sidebarMovie">
                                <ul class="nav-second-level">
                                    <li id="MovieList">
                                        <a href="/Movie/Index">MovieList</a>
                                    </li>
                                    <li id="ShowtimeList">
                                        <a href="/ShowTime/Index">ShowTime</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li id="MainMenuTeam">
                            <a href="#sidebarTeam" data-bs-toggle="collapse">
                                <i class="fa fa-users"></i>
                                <span> Team </span>
                            </a>
                            <div class="collapse" id="sidebarTeam">
                                <ul class="nav-second-level">
                                    <li>
                                        <a href="/team/teamdetails">Details</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Start Content-->
                <div class="container-fluid">
                    @RenderBody()
                </div> <!-- container -->
            </div> <!-- content -->
        </div>

        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <div class="rightbar-overlay"></div>

    <script src="~/assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/libs/selectize/js/standalone/selectize.min.js"></script>

    <!-- Dashboard 1 init js-->
    <script src="~/assets/js/pages/dashboard-1.init.js"></script>
    <script src="~/assets/libs/clockpicker/bootstrap-clockpicker.min.js"></script>
    <script src="~/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <!-- Vendor js -->
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-confirm.js"></script>
    <script src="~/Scripts/CommonUI.js"></script>
    <script src="~/Scripts/moment.js"></script>

    @Styles.Render("~/Kendo/styles")

    <script>
        function ShowError(msg) {
            alert(msg)
        }
        function OnlyNumericEntry(e) {
            var keyCode = e.which ? e.which : e.keyCode;
            var ret = ((keyCode == 09 || keyCode == 08 || (keyCode >= 48 && keyCode <= 57)));
            return ret;
        }
    </script>

</body>

</html>
