@model ViewModel.MovieViewModel
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
@{
    Layout = null;
}
<style>
    .validationError {
        color: red;
        font-size: 12px;
    }

    .modal-footer {
        display: flex;
        align-items: center;
    }

    #errorSpan {
        color: red;
        display: inline-block;
        vertical-align: middle;
        /*margin-right: 10px;*/
    }
</style>


@Html.ValidationSummary(true)

@using (Ajax.BeginForm("ManageLanguage", "Language",
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ajax_contentMain",

    }, new { autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.LanguageID, new { id = "LanguageID" })


    <div style="width:100%!important">


        <div class="col-md-12">
            <div class="form-group">
                <label><strong>Language Name</strong></label><br />
                @Html.TextBoxFor(model => model.LanguageName, new { @class = "form-control", maxlength = "200", id = "LanguageName" })
                <span class="validationError" style="font-size: 12px;">@Html.ValidationMessageFor(n => n.LanguageName)</span>


            </div>
        </div>
    </div>

    <div class="modal-footer">
        <span id="errorSpan"></span>
        @*<button type="submit" class="btn btn-success">Save</button>*@
        <button type="submit" class="btn btn-success" id="btnLang" >
            @(Model.LanguageID == 0 ? "Create" : "Save Changes")
        </button>
        <a class="btn btn-default" id="language-cancel-button" onclick="CancelUpdate()">Cancel</a>
    </div>


}

<script>
    var LanguageWindow;
    function CancelUpdate() {
        LanguageWindow.close();
    }
    </script>
